@import "../../colors";


.main_homeTabContainer {
  background-color: $backcolormde;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -2;

  .top_Tabnotices {
    position: absolute;
    margin-top: 32%;
    display: flex;
    flex-direction: row;
    width: 88%;
    align-items: center;
    justify-content: space-between;

    .noticesTab_title {
      font-family: $spectralmde;
      font-weight: 800;
      font-size: 28px;
      color: $darkbluemde;
    }

  }

  .img_points_up_all {
    position: absolute;
    margin-top: 37%;
    left: 50%;
    transform: translateX(-50%);
  }

  .div_buttons_homeTab {
    position: absolute;
    margin-top: 57%;
    display: flex;
    flex-direction: row;
    width: 100%;

    .submit_MdEtab {
      width: 50%;
      height: 41px;
      background-color: $creammde;
      font-family: $atkinsonmde;
      font-size: 15px;
      color: $darkbluemde;
      border: none;

    }

    .submit_tabtab_not {
      width: 50%;
      height: 41px;
      background-color: $orangemde;
      font-weight: bold;
      font-family: $atkinsonmde;
      font-size: 15px;
      color: $creammde;
      border: none;

    }
  }

  .navigation_homeContainerTab {
    background-color: aqua;
    position: absolute;
    margin-top: 66.7%;
    height: 61vh;
    width: 100%;
  }

}