//colors
$creammde:#E6DFCF;
$graymde:#847C7B;
$orangemde:#CB7862;
$darkbluemde:#004368;
$lightbluemde:#D3E3E3;
$yellownde:#F3E3B3;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Inter&family=Spectral:ital,wght@0,500;1,700&display=swap');


//Spectral 500 & 700 (weight)
$fontspectmde:'Spectral', serif;

//Atkinson 400 & 700 (weight)
$fontsatktmde:'Atkinson Hyperlegible', sans-serif;

//inter 400 (weight)
$fontintermde: 'Inter', sans-serif;
